#zabbix.vadim.pp.ua {
#       gzip
#        tls 
#        proxy / http://192.168.0.4:8880 {
#                transparent
#        }
#}

elk.evos.in.ua {
       gzip
        tls vadim.zaker@gmail.com
        proxy / http://46.4.253.131:5601 {
                transparent
        }
}

grafana.evos.in.ua {
       gzip
        tls vadim.zaker@gmail.com
        proxy / http://46.4.253.131:81 {
                transparent
        }
}


graylog.tn.in.ua {
       gzip
        tls vadim.zaker@gmail.com
        proxy / http://192.168.136.88:9000 {
                transparent
        }
}
