#zabbix.vadim.pp.ua {
#       gzip
#        tls magellane@ukr.net
#        proxy / http://192.168.0.4:8880 {
#                transparent
#        }
#}

elk.vadim.pp.ua {
       gzip
        tls magellane@ukr.net
        proxy / http://192.168.7.1:5601 {
                transparent
        }
}

hub.vadim.pp.ua {
       gzip
        tls magellane@ukr.net
        proxy / http://192.168.7.1:8082 {
                transparent
        }
}

nexus.vadim.pp.ua {
       gzip
        tls magellane@ukr.net
        proxy / http://192.168.7.1:8081 {
                transparent
        }
}

jenkins.vadim.pp.ua {
       gzip
        tls magellane@ukr.net
        proxy / http://192.168.7.1:8083 {
                transparent
        }
}


grafana.vadim.pp.ua {
       gzip
        tls magellane@ukr.net
        proxy / http://192.168.7.1:81 {
                transparent
        }
}
